@media all and (max-width: 1440px) {
    .menu-area > ul > li {
        padding: 5px 5px;
        margin: 0px 0px;
    }
    .header-icon > a {
        margin-right: 28px;
    }
}
@media all and (max-width: 1200px) {
}

@media all and (max-width: 1080px) {
    .menu-icon {
        display: block;
        color: #333;
        margin-top: 12px;
    }
    header.scrolled .menu-icon {
        color: #232323;
    }

    .menu-area {
        display: none;
    }
    .navbar-brand {
        display: none;
    }
    .header-icon {
        float: right;
        margin-top: -27px;
    }
}

@media (max-width: 1024px) {
    .header-icon {
        margin-top: 14px;
        display: flex;
    }
}

@media (max-width: 992px) {
    .w-25 {
        width: auto !important;
    }

    .contact-us-section .address-card-column {
        padding-right: 0;
    }
    .contact-us-section .contact-address {
        margin-top: 150px;
    }
    .grid-controls {
        width: 47%;
        margin: 0 0 0 auto;
    }
}

@media (max-width: 768px) {
    .header-logo {
        display: none;
    }
    .header-slider-section {
        margin-top: 0px;
    }
    .slider-content-box {
        width: 82%;
    }
    .slider-content-box > h3 {
        font-size: 3.125rem;
    }
    .login-box .signin-btn {
        padding: 10px 25px;
        letter-spacing: 1px;
    }
    .page-products .product-box-col-6 .product-item,
    .page-products .product-box-col-4 .product-item,
    .page-products .product-box-col-3 .product-item {
        height: 250px;
    }
    .mobile-product-offcanvas {
        width: 300px;
    }
    .about-us-section {
        margin: 60px 0;
    }
    .contact-us-section .contact-address {
        margin-top: 100px;
    }
    .contact-us-section .address-box .card-title {
        width: 75%;
    }
    .grid-controls {
        width: 47%;
        margin: 0 auto;
    }
    .col-sm-6.product-column.col-lg-6.col-6.col-md-6 .product-item.border-dark {
        height: 250px;
    }
    .category-box {
        transform: scale(1);
    }
    .related-products .add-to-cart {
        padding: 10px 8px;
        font-size: 16px;
    }
    .related-products .product-info {
        left: 0;
        right: 0px;
        bottom: 0;
    }

    .header-icon {
        margin-top: -26px;
        display: flex;
    }
    .hero-section {
        padding: 10px 0 !important;
    }
    .no-js .owl-carousel,
    .owl-carousel.owl-loaded {
        height: 270px;
    }
}

@media (max-width: 570px) {
    .grid-controls {
        display: none;
    }
    .mobile-grid-controls {
        display: block;
        display: flex;
        width: 20%;
    }
    .header-icon .cart-badge {
        position: absolute;
        top: -14px;
        right: -13px;
    }
}

@media (max-width: 480px) {
    .header-icon .cart-badge {
        position: absolute;
        top: -14px;
        right: -13px;
    }
    .header-icon {
        margin-top: -33px;
        display: flex;
    }
    .header-slider-section {
        margin-top: 0px;
        text-align: center;
    }
    .carousel-item > .slider-content-box {
        width: 80%;
    }
    .carousel-item > .slider-content-box > h3 {
        font-size: 1.625rem;
    }
    .carousel-item > .slider-content-box > .slider-inner-btn {
        display: none;
    }
    .category-section {
        height: 520px;
    }
    .category-title-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .category-title-box > .category-title > h1 {
        font-size: 1.75rem;
    }
    .tp-category-item-3 {
        min-height: 270px;
    }
    .grid-controls {
        display: none;
    }
    .mobile-grid-controls {
        display: block;
        display: flex;
    }
    .grid-btn {
        padding: 3px 2px;
    }
    .product-box .title {
        font-size: 0.9375rem;
    }
    .product-box .price > span {
        font-size: 0.8125rem;
    }
    .product-box .price > del {
        font-size: 0.75rem;
    }
    .newslater-section {
        padding: 119px 0px;
        height: 282px;
    }
}

@media (max-width: 320px) {
    .carousel-item > .slider-content-box {
        width: 88%;
    }
    .carousel-item > .slider-content-box > h3 {
        font-size: 1.375rem;
    }
    .header-icon {
        /* margin-top: -26px; */
        display: flex;
    }
    .mobile-grid-controls {
        display: block;
        display: flex;
        width: 20%;
    }
}

@media (min-width: 768px) {
    .product-offcanvas .offcanvas-end {
        max-width: 750px;
    }
    .cart-item-remove-icon {
        right: 0;
    }
    .login-regiter-box {
        padding: 0 60px;
    }
}
@media (min-width: 992px) {
    .order-total-checkout .btn-container {
        width: 35%;
    }
    .product-box {
        padding: 0 18px;
    }
    .discount-btn {
        width: 20%;
    }
    header .cart-badge {
        position: absolute;
        top: -10px;
        right: -18px;
    }
}
@media (min-width: 400px) {
    .shipping-box {
        display: flex;
    }
}
